html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
================================
Custom Styles
================================
*/

html {
	height: 100%;
}
body {
	height: inherit; 
}


body {
	font: 300 16px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #888;
}

/*
	========================================
	Grid
	========================================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
.container,
.grid {
	margin: 0 auto;
	width: 960px;
}
.container {
	padding-left: 30px;
	padding-right: 30px;
}
.grid,
.col-1-3,
.col-1-2,
.col-2-3 {
	padding-left: 15px;
	padding-right: 15px;
}
.col-1-3,
.col-1-2,
.col-2-3  {
	display: inline-block;
	vertical-align: top;
}
.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}

.col-1-2 {
	width: 50%;
}

.row {
	min-width: 960px;
}
/*
================================
Clearfix
================================
*/

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group:before {
	clear: both;
	*zoom: 1;
}


/*
================================
Primary header
================================
*/

.header, 
.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

header {
	height: 176px;
}

.primary-color {
	background-color: #293f50;
}

.logo {
	color: #fff;
	border-top: 4px solid #648880; /*green*/
	line-height: 44px;
	padding-top: 40px;
	cursor: pointer;

}

.header {
   height: 132px;
   position: relative;
}

.header-info {
	position: absolute;
	bottom: 0;
	right: 30px;
}

.tagline {
	text-align: right;
	margin-bottom: 22px;
}



/*
================================
Hero
================================
*/

.hero {
	text-align: center;
	height: 336px;
	line-height: 44px;
	padding-top: 30px;
}

.hero p {
	font-size: 24px;
	font-weight: 100;
	color: #fff;
	margin-bottom: 22px;
}

.gradient {
	background: #88d09d; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left,     #a1d3b0, #f6f1d3); /* For Safari 5.1 to 6.0 */
	background:    -moz-linear-gradient(right,    #a1d3b0, #f6f1d3); /* For Firefox 3.6 to 15 */
	background:      -o-linear-gradient(right,    #a1d3b0, #f6f1d3); /* For Opera 11.1 to 12.0 */
	background:         linear-gradient(to right, #a1d3b0, #f6f1d3); /* Standard syntax */
	height: 220px;
}

.gradient .secondary-txt-color {
	color: #888; /*grey*/
}

.gradient h2 {
	margin-bottom: 10px;
}



/*
================================
Teaser  Main
================================
*/


.main {
	padding-bottom:80px;
	background: #fff;
}


.main h4 {
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 400;
	color: #a9b2b9; /*grey*/
}

 
.main h3 {
	margin-bottom: 20px;
}


.main p {
	margin-bottom: 20px;
}
.teaser img {
	border-radius: 5px;
	display: block;
	margin-bottom: 22px;
	max-width: 100%;
}

.teaser, .main-wrapper {
	padding-top: 100px;
}

.speaker-dets {
	text-align: center;
	border: 1px solid #dfe2e5;
	border-radius: 5px;
	margin-top: 80px;
	padding-bottom: 22px;
}

.speaker-dets img {
	border-radius: 50%;
	height: 130px;
	margin: -65px 0 22px 0;
	vertical-align: top;

}

/*
================================
Footer
================================
*/

.footer {
	padding: 50px 0px 50px;
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
}



footer small {
	vertical-align: text-bottom;
	float: left;
	font-weight: 400;
}


/*
================================
Navigation
================================
*/ 
.primary-nav {
	text-transform: uppercase;
}

.nav li {
	margin-right: 10px;
}

.nav li:last-child {
	margin-right: 0;
}




/*
================================
Button
================================
*/

.btn {
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
}

.btn:link,
.btn:visited {
	color: #fff;
}

.btn:hover {
	background: #fff;
	color: #648880; /*green*/
}



/*
================================
Typography
================================
*/
h1, h2, h3, h4, h5, p {
	letter-spacing: .5px;
}

h1 {
	font-weight: 100;
	font-size: 48px;
	text-transform: uppercase;
}

h2, h3, small {
	color: #648880; /*green*/
}
h2 {
	font-size: 36px;
}

h3 {
	font-size: 21px;
}

h4 {
	text-transform: uppercase;
}

.gradient p {
	font-size: 22px;
	font-weight: 300;
}

small, 
footer .nav {
	font-size: 14px;
}

nav {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

footer .nav {
	font-weight: 300;
}

strong {
	font-weight: 400;
}

cite,
em {
	font-style: italic;
}


/*
================================
Links
================================
*/

a, 
a:visited {
	text-decoration: none;
	color: #648880; /*green*/
}


a:hover {
	color: #a9b2b9; /*grey*/
}

.inactive {
	pointer-events: none;
    cursor: default;
}

.nav a:link, 
.nav a:visited {
	color: #FFF;
	font-style: normal;
}

.nav a:hover {
	color: #648880; /*green*/ 
}

.nav a:active {
	color: #648880; /*green*/
}


